{% extends "base.html" %}

{% block title %} Delete {% endblock %}

{% block head %}
    {{ super() }}
    
{% endblock %}

{% block content %}
    <center><h2 class="display-4">Delete</h2></center>
    <hr class="my-0">

    {% for category, message in get_flashed_messages(with_categories=true) %}
        <div class="alert alert-{{category}}" role="alert">{{message}}</div>
    {% endfor %}
    
    <div class="col-10 col-lg-4 mx-auto shadow p-3 mb-5 bg-white rounded">
	
        <form action="{{url_for('hospitalmanagement.delete')}}" method="POST">
            <div class="form-group row">
            <label for="patient_id" class="control-label col-sm-4">Patient ID<sup>*</sup></label>
            <input type="text" class="form-control col-lg-5 float-right" name="patient_id" placeholder="Patient Id" maxlength="9" min="100000000" value= "{{ patient.ws_pat_id if patient !=None}}" required>
            <button type="submit" name = "submit_button" value = "Get_button" class="btn btn-primary ml-1">Get</button>    
            </div>
            <div class="form-group row">
            <label for="pat_name" class="control-label col-sm-4">Patient Name</label>
            <input type="text" class="form-control col-lg-5 float-right" name="pat_name" placeholder="Name" value= "{{ patient.ws_pat_name}}">
            </div>
            <div class="form-group row">
                <label for="pat_age" class="control-label col-sm-4">Patient Age</label>
                <input type="number" class="form-control col-lg-5 float-right" name="pat_age" placeholder="Age" value= "{{ patient.ws_age}}" min="0" max="999">
            </div>
            <div class="form-group row">
                <label for="pat_doa" class="control-label col-sm-4">Date of Admission</label>
                <input type="datetime-local" class="form-control col-lg-5 float-right" name="pat_doa" placeholder="Admission Date" value= "{{ patient.ws_doj.strftime('%Y-%m-%dT%H:%M') if patient !=None}}">
            </div>
            <div class="form-group row">
                <label for="bed_type" class="control-label col-sm-4">Type of bed</label>
                <select  name="bed_type" class="form-control col-lg-5 float-right">
                <option value= "{{ patient.ws_rtype}}">{{ patient.ws_rtype}}</option>
				<option value= "GW" selected>General Ward</option>
                <option value="SS">Semi Sharing</option>
                <option value="SR">Single Room</option>
                </select>
            </div>
            <div class="form-group row">
                <label for="pat_address" class="control-label col-sm-4">Address</label>
                <textarea class="form-control col-lg-7 float-right" name="pat_address" required> {{ patient.ws_adrs}} </textarea>
            </div>
            <div class="form-group row">
                <label for="pat_city" class="control-label col-sm-4">City</label>
                <input type="text" class="form-control col-lg-5 float-right" name="pat_city" placeholder="City" value= "{{ patient.ws_city}}" >
            </div>
            <div class="form-group row">
                <label for="pat_state" class="control-label col-sm-4">State</label>
                <input type="text" class="form-control col-lg-5 float-right" name="pat_state" placeholder="State" value= "{{ patient.ws_state}}">
            </div>
			
            <div><sup>*</sup>Mandatory</div>
            <button type="submit" name = "submit_button" value = "Delete_button" class="btn btn-primary mt-2">Delete</button>
 <!--           <input class="btn btn-primary mt-2" type="reset" value="Reset">  -->
	
        </form>
    </div>
    {{ super() }}
{% endblock %}